*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #46529d;
  color: #fff;
}

.text-center{
  text-align: center;
  color: rgb(127, 125, 199);
}

.container{
  width: 60%;
  margin: 10% auto;
}

.ListItems{
  background-color: #fff;
  color: #46529d;
}

.ListItems p{
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.ListItems span{
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border: 0.3px solid #ccc;
} 

.ListItems span.title{
  background-color: #2abaee;
  color: #fff;
}

.ListItems span.name,form input[type=text]{
  width: 60%;
}

.ListItems span.age,form input[type=number]{
  width: 30%;
}

.ListItems span.action,form input[type=submit]{
  width: 10%;
}

.ListItems span.icon{
  cursor: pointer;
  color: #2abaee;
}

form input{
  padding: 10px;
  background-color: #ebebeb;
  border: transparent;
  border: 0.3px solid #ccc;
}

form input[type=submit]{
  cursor: pointer;
  border: 0.3px solid #2abaee;
  color: #fff;
  background-color: #2abaee;
}